<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
    
    <style>
        /* Style for the input */
        .input-field {
            border-radius: 10px; /* Adjust the radius to change the curvature */
            border: 2px solid #ccc; /* Border color */
            padding: 10px; /* Padding inside the input */
            width: 100%; /* Adjust the width as needed */
            outline: none; /* Remove the default focus outline */
            box-sizing: border-box; /* Ensure padding and border are included in width */
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.5.3/dist/web3.min.js"></script>
    <script src="{{ url_for('static', filename='script/admin_w3.js') }}" type="module"></script>
    
</head>

<body style="background-image:  url({{ url_for('static',filename='img/bgimg.jpg') }});" >

    
    <div class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
        </div>
        <div class="admin_text">
            
        </div>
    </div>
    

    <div class="admin_page">
        <div class="left_div">
            <div class="start_timer">
                <button id="start" onclick="startTimer()">Start Timer</button>
                <div id="timer"></div>
            </div>
        </div>
        <div class="right_div">
            <div class="add_candidate">
                <input type="text" value="" placeholder="Candidate name:" class="input_text"></input>
            </div>
            <button id="submit_candidate" onclick="addCandidate()">Add Candidate</button>
        </div>
    </div>
    
    <script src="script.js"></script>
</body>
</html>