<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
    <style>
        /* Style for the input */
        .input-field {
            border-radius: 10px; /* Adjust the radius to change the curvature */
            border: 2px solid #ccc; /* Border color */
            padding: 10px; /* Padding inside the input */
            width: 100%; /* Adjust the width as needed */
            outline: none; /* Remove the default focus outline */
            box-sizing: border-box; /* Ensure padding and border are included in width */
        }
    </style>
</head>

<body style="background-image:  url({{ url_for('static',filename='img/bgimg.jpg') }});" >

    
    <div class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
        </div>
        <div class="admin_text">
            
        </div>
    </div>
    

    <div class="admin_page">
        <div class="left_div">
            
            
        </div>
       
    <div class="right_div">

        <div class="right-box">
            <div class="add_candidate" style="padding: 0; ">
                <div class="input-container">
                    <input type="text" placeholder="Candidate name" class="input_text">
                </div>
                
                <!-- Input moved inside right-box -->
            <input type="button" value="Add candidate" id="custom-button">
        </div>
    </div>
        <div id="countdown">
            <div class="left-box">
            <a class="btn">
                <span> Start timer. </span>
            </a>
            <h2>Countdown Timer</h2>
            <div id="timer">
              
              <div>
                <span id="hours">24</span>
                <span>Hours</span>
              </div>
              <div>
                <span id="minutes">0</span>
                <span>Minutes</span>
              </div>
              <div>
                <span id="seconds">0</span>
                <span>Seconds</span>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    
    <script src="{{ url_for('static', filename='script/admin.js') }}"></script>
</body>
</html>