<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> VoTru </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
    <body style= "background-image:  url({{ url_for('static',filename='img/bgimg.jpg') }});">
    <div class="layout">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        </div>
        <div class="heading">
            <h1>VoTru</h1>
        </div>
        <div class="desc">
            <h2>Blockchain Based Voting System</h2>
        </div>
        <div class="more">
            <div class="about">
                Elections are crucial events in a true democracy. But today, even the most democratic countries have problems with their electoral processes- hacking and rigging of electronic voting machines, electoral fraud, and violence at the polling stations. Here, we are trying to give the best possible solution: a decentralized polling system. VoTru serves as a comprehensive platform for both political representatives and voters alike. Individuals can register as representatives of political parties, enabling them to participate actively in the democratic process.
            </div>
            <div class="buttons">
                <div class="login">
                    <button id="login_button" onclick="func()">Enter the booth!</button>
                </div>
                <div class="signup">
                    <button id="register_button" onclick="func2()">Register</button>
                </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
</body>
</html>