<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.0">
    <title>Voting System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/poll.css') }}">
</head>
<body style="background-image:  url({{ url_for('static',filename='img/bgimg.jpg') }});" >   
    <h1>Voting System</h1>
    <div class="voter">
        <input type="text" id="name" name="name" placeholder="Enter your name">
    </div>
    <main>
        <div class="candidates">
            <div class="candidate">
                <img src="{{ url_for('static', filename='img/person.jpg') }}" alt="Candidate 1">
                <h2>Candidate 1</h2>
                <button>VOTE</button>
            </div>
            <div class="candidate">
                <img src="{{ url_for('static', filename='img/person.jpg') }}" alt="Candidate 2">
                <h2>Candidate 2</h2>
                <button>VOTE</button>
            </div>
            <div class="candidate">
                <img src="{{ url_for('static', filename='img/person.jpg') }}" alt="Candidate 3">
                <h2>Candidate 3</h2>
                <button>VOTE</button>
            </div>
            <div class="candidate">
                <img src="{{ url_for('static', filename='img/person.jpg') }}" alt="Candidate 4">
                <h2>Candidate 4</h2>
                <button>VOTE</button>
            </div>
        </div>
    </main>
</body>
</html>