body{
    margin: 0px;
    padding: 0px;
    color: white;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat;
}

.logo{
    width: 100px;
    height: 100px;
    padding: 2px;
}

.header{
    width: 100dvw;
    height: 10dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.admin_text{
    padding-right: 44dvw;
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
}

.admin_page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height:90dvh ;
}
#custom-button {
    padding: 10px 20px; /* Add padding to the button */
    background-color: #aaaaec; /* Set background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-size: 16px; /* Set font size */
    transition: background-color 0.3s ease; /* Add transition effect */
    position: absolute;
    top:75%;
    right: 130px;;
}
#custom-button:hover {
    background-color: #4141ba;
  }

#countdown {
    text-align: center;
  }
  
#timer {
    display: flex;
    justify-content: center;
  }
  
#timer div {
    margin: 0 10px;
  }
  
#timer span {
    display: block;
    font-size: 24px;
}
#countdown{
    text-align: center;
    position: fixed; /* Set the position to fixed */
    bottom: 150px; /* Adjust the distance from the bottom */
    right: 60%; /* Adjust the distance from the right */
    padding: 50px; /* Add padding for better visibility */
    margin-block: 50px;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #0c0c0d;
    font-family: "Segoe UI", sans-serif;
    font-weight: 500;
}

.btn {
    line-height: 1.8rem;
    border-radius: 9.5px;
    display: inline-flex;
    padding: 10px 20px;
    font-size: 1rem;
    position: absolute;
    bottom: 42px; /* Adjust the distance from the bottom */
    left: 120px; /* Adjust the distance from the left */
    background-color: #18181b;
    color: #d2d2e1;
    transition: background-color 0.2s ease-in-out;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #0c0c0d;
}

.btn:before {
    content: "";
    position: absolute;
    background: linear-gradient(
      to right,
      rgb(15, 51, 130),
      rgb(148, 157, 251),
      rgb(189, 203, 246)
    );
    inset: -2px;
    z-index: -1;
    border-radius: 12.5px;
    transition: all 0.2s ease 0s;
}

.btn:hover:before {
    box-shadow: rgba(0, 220, 130, 0.5) 0px 0px 10px 0px,
      rgba(54, 228, 218, 0.5) 0px 0px 20px 0px;
}

.btn > span {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
}
.right-box {
    position: absolute;
    top: 150px;
    right: 100px;
    width: 400px; /* Adjust width as needed */
    height: 450px; /* Adjust height as needed */
    background-color: rgb(20, 14, 86,0.3); /* Change background color as desired */
    border-radius: 20px;
    
    box-shadow: 12px 15px 42px 0px rgba(117, 179, 235, 0.76);
    -webkit-box-shadow: 12px 15px 42px 0px rgba(117, 179, 235, 0.76);
    -moz-box-shadow: 12px 15px 42px 0px rgba(117, 179, 235, 0.76);
}
.left-box {
    position: absolute;
    bottom : 0px;
    right: 100px;
    width: 350px; /* Adjust width as needed */
    height: 320px; /* Adjust height as needed */
    background-color: rgb(20, 14, 86,0.3); /* Change background color as desired */
    border-radius: 20px;
    
    box-shadow: 12px 15px 42px 0px rgba(117, 179, 235, 0.76);
    -webkit-box-shadow: 12px 15px 42px 0px rgba(117, 179, 235, 0.76);
    -moz-box-shadow: 12px 15px 42px 0px rgba(117, 179, 235, 0.76);
}
.input-text{
    border: none;
    color: #aaaaec;
    width: 75px;
    height: 800px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgba(222, 10, 10, 0); /* Adjust the last value (0.5) for the desired transparency level (0 to 1) */
    padding: 50px; /* Adjust padding as needed */
    margin-top: 50px;

} 
.input-container {
    position: relative;
    display: flex;
    justify-content: center;
    top:220px;
    
  }
  
  .input_text {
    border: none;
    border-radius: 0.7rem;
    padding: .815rem 1.232rem;
    cursor: pointer;
    background: #aaaaec;
    transition: background .4s linear;
  }
  
  .input_text:focus {
    outline: none;
  }
  
  .input_text::placeholder {
    font-style: normal;
    font-size: 1.125rem;
    color: white;
    font-weight: 600;
    opacity: 1;
    transition: opacity .35s linear .2s;
  }
  
  .input_text:hover::placeholder {
    opacity: 0;
    transition: opacity .35s linear .2s;
  }
  
  .input_text:hover {
    background: #a594fd;
    transition: background .4s linear;
  }
  
  .input_text:hover:focus {
    background: #a594fd;
    transition: background .4s linear;
  }